@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: 'Poppins', sans-serif;
    @apply bg-white text-slate-800 dark:bg-[#080313] dark:text-slate-200 antialiased transition-colors duration-300;
}

button {
    @apply cursor-pointer;
}